<!DOCTYPE html>
<html lang="fr">
    <head>
        <link rel="stylesheet" href="/css/app.css" type="text/css">
    </head>

    <body>
        <a href="/" id="home-page-link"> Home </a>
        <img id="talk-buble" src="/images/talk.jpeg" alt="A talk buble">
        <div id="talk-box">
            <p class="center"><span id="previous-talk"></span> - <span id="next-talk"></span></p>
            <h1 id="talk-name" class="center"></h1>
            <h3 id="subtitle" class="center"></h3>
            <div id="talk">
              <ul id="messages-list">

              </ul>
            </div>
        </div>
    </body>
</html>
