html, body { height: 100%; }
body { font-family: sans-serif; }

a {
  color: #333;
  text-decoration: none;
}

a:hover {
  color: #929292;
  text-decoration: none;
}

a:active {text-decoration:underline;}

#login {
  width: 300px;
  height: 100px;
  padding: 20px;
  position: absolute;
  left: 40%;
  top: 20%;
}

#talks {
  width: 300px;
  height: 500px;
  overflow-y: auto;
}

#talks  h2 {
  padding-left: 10px;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

#connect {
  margin-top: 10%;
  margin-left: 64%;
}

#auth-fail, #existing-nickname {
  color: red;
  text-align: center;
  margin-top: 4%;
  display: none;
}

#tabs {
  display: none;
  height: 100%;
}

.messages {
  width: 72%;
  height: 90%;
  margin-top: 1%;
  overflow-y: auto;
  margin-left: 10px;
  float: left;
  list-style-type: none;
  border-right: 1px solid black;
}

#tabs .ui-widget-content a {
  color: #929292;
  text-decoration: underline;
}

.messages .system-message {
  color: red;
}

.users, .channels  {
  margin-top: 0;
  padding-left: 2%;
  width: 20%;
  height: 45%;
  float: right;
  overflow-y: auto;
}

.chat-commands {
  font-size: 10px;
}

.message-form {

}

.message-input {
  width: 95%;
  height: 100%;
  margin-left: 1%;
  padding: 1% 1em;
  outline: none;
  border: none;
  border-top: 1px black solid;
  font-size: 80%;
}


#home-page-link {
  font-size: 20px;
}

#talk-buble {
  width: 100px;
  height: 100px;
  float: right;

}

#talk-box {
  width: 60%;
  height: 60%;
  margin-left: auto;
  margin-right: auto;
}



